<template>
    <section>
        <div class="container">
            <tabs :tabs="tabs">
                <div :slot="tabs[0].name">
                    <exchanges-settings></exchanges-settings>
                </div>
                <div :slot="tabs[1].name">
                    Users
                </div>
            </tabs>
        </div>
    </section>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import ExchangesSettings from './settings/exchanges-settings.component';
    import Tabs from '@/components/tabs/tabs.component';

    @Component({
        components: {
            ExchangesSettings,
            Tabs
        }
    })
    export default class Admin extends Vue {
        tabs: any = [
            {name: 'exchanges', title: 'Exchanges'},
            {name: 'users', title: 'Users'},
        ];
    }
</script>

<style lang="scss" scoped></style>