<template>
    <div class="container d-flex">
        
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter, Action} from 'vuex-class';

    import Accordion from '@/components/accordion/accordion.component.vue';

    @Component({
        components: {
            Accordion
        },
    })
    export default class Categories extends Vue {
        @Getter('exchanges/all') exchanges: any;
        @Action('exchanges/getAll') getAllExchanges: any;
        
        async created() {
            await this.getAllExchanges();
            console.log(this.exchanges)
        }
    }
</script>

<style lang="scss" scoped>
    
</style>