<template>
    <header>
        <div class="container">
            <div class="logo"><a href="/"><img src="../../assets/images/diagram.svg" alt=""></a></div>
            <nav>
                <ul class="nav">
                    <li>
                        <router-link to="/home/orders">
                            Orders
                            <span v-if="newOrdersCount !== 0" class="count">{{newOrdersCount}}</span>
                        </router-link>
                    </li>
                    <li><router-link to="/home/categories">Categories</router-link></li>
                    <li><router-link to="/home/admin">Admin</router-link></li>
                    <li><router-link to="/home/settings">Settings</router-link></li>
                </ul>
            </nav>
        </div>
    </header>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter} from 'vuex-class';

    @Component({})
    export default class Header extends Vue {
        @Getter('orders/getNewCount') newOrdersCount: any;
    }
</script>

<style lang="scss" scoped>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header {
        background-color: #6d6ef9;
        padding: 5px 0;
    }

    .logo img {
        width: 35px;
    }

    .nav {
        display: flex;
        list-style: none;

        li {
            margin: 0 10px;
            position: relative;

            .count {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -8px;
                right: -11px;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: #ec0011;
                color: white;
                font-size: 10px;
                font-weight: bold;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
</style>