<template>
    <table v-if="exchanges">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Domain</th>
            <th>Icon</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(exchange, index) in exchanges">
            <template v-if="editable === index">
                <td class="id"><input type="text" v-model="temp.exchanges_id"></td>
                <td class="name"><input type="text" v-model="temp.name"></td>
                <td class="domain"><input type="text" v-model="temp.domain"></td>
                <td class="logo"><input type="text" v-model="temp.logo"></td>
                <td>
                    <button class="edit-button" @click="handle(index)">
                        <accept-icon></accept-icon>
                    </button>
                </td>
            </template>
            <template v-else>
                <td>{{exchange.exchanges_id}}</td>
                <td>{{exchange.name}}</td>
                <td>{{exchange.domain}}</td>
                <td>{{exchange.logo}}</td>
                <td>
                    <button class="edit-button" @click="handle(index)">
                        <edit-icon></edit-icon>
                    </button>
                </td>
            </template>
        </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Getter} from 'vuex-class';
    import {EditIcon, AcceptIcon} from '@/components/icons';

    @Component({
        components: {
            EditIcon,
            AcceptIcon
        }
    })
    export default class ExchangeSettings extends Vue {
        @Action('exchanges/getAll') getAllExchanges: any;
        @Action('exchanges/update') updateExchanges: any;
        @Getter('exchanges/all') exchanges: any;
        temp: any = {};
        editable: number = null;

        async created() {
            await this.getAllExchanges();

        }

        onEdit(index: number) {
            this.temp = {...this.exchanges[index]};
            this.editable = index;
        }

        onSave(index: number) {
            if (this.editable === index) {
                this.updateExchanges({index, data: this.temp});
                this.editable = null;
            } else {
                this.onEdit(index);
            }
        }

        handle(index: number) {
            this.editable !== null ? this.onSave(index) : this.onEdit(index);
        }
    }
</script>

<style lang="scss">
    th, td {
        border-right: 1px solid rgba(34,36,38,.1);
        padding: 1rem;
        text-overflow: ellipsis;

        &:last-child {
            border-right: none;
        }
    }

    thead {
        background: #f9fafb;
    }

    .edit-button {
        display: block;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 auto;

        object {
            width: 15px;
        }
    }

    td {
        text-overflow: ellipsis;
        overflow-wrap: break-word;

        input {
            width: 100%;
            padding: 4px 2px;
        }
    }

    td:nth-child(1), th:nth-child(1) {
        width: 10%;
        min-width: 70px;
    }

    td:nth-child(2) {
        width: 15%;
        min-width: 200px;
    }

    td:nth-child(3) {
        width: 25%;
        min-width: 150px;
    }

    td:nth-child(4) {
        width: 25%;
        min-width: 200px;
    }
</style>