<template> 
    <div class="container">
        <ul v-if="orders">
            <li v-for="(order, index) in orders" class="order" @mouseover="onHover(index)">
                <header class="order__header">
                    <h3 class="order__title" :class="{'new-order': order.new}"><a :href="order.link" target="_blank">{{order.title}}</a></h3>
                </header>
            </li>
        </ul>
        <div v-else>There are no new orders</div>
    </div>
</template>s

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter, Mutation} from 'vuex-class';

    @Component({})
    export default class Orders extends Vue {
        @Getter('orders/getOrders') orders: any;
        @Mutation('orders/setViewed') setViewed: any;

        onHover(index: number) {
            this.setViewed(index);
        }
    }
</script>

<style lang="scss">
    .order {
        padding: 10px 20px;
        list-style: none;
        border-bottom: 1px solid #eee;
        transition: all .2s ease-in-out;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #f7f7f7;
        }

        &__title {
            font-size: 20px;
            color: #3e4e5e;
            position: relative;

            a {
                text-decoration: none;
                color: currentColor;
            }
        }

        .new-order:before {
            content: 'New';
            display: block;
            position: absolute;
            left: -15px;
            top: -6px;
            padding: 1px 3px;
            background-color: #ec0011;
            color: white;
            font-size: 10px;
            border-radius: 3px;
            transform: rotate(-45deg);
        }
    }
</style>