<template>
    <div class="tabs">
        <ul class="tabs-header" ref="tabsHeaderComponent">
            <li v-for="(tab, index) in headerTabs" :class="{'active': tab.active, 'disabled': tab.disabled}">
                <a href="/" @click.prevent="onTabClick(index)">{{tab.title}}</a>
            </li>
            <li ref="indicator" class="indicator"></li>
        </ul>
        <slot v-for="tab in headerTabs" :name="tab.name" v-if="tab.active"></slot>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({})
    export default class Admin extends Vue {
        $refs: any;
        @Prop(Array) tabs: any;
        headerTabs: any = null;

        created() {
            this.headerTabs = this.tabs.map((tab: object) => ({
                ...tab,
                active: false
            }));

            Vue.set(this.headerTabs[0], 'active', true);
        }

        mounted() {
            this.drawIndicator()
        }

        onTabClick(index: number) {
            !this.tabs[index].disabled && (this.headerTabs = this.headerTabs.map((tab: any, tabIndex: number) => ({
                ...tab,
                active: index === tabIndex
            })));

            this.$nextTick(this.drawIndicator);
        }

        drawIndicator() {
            const activeTab = this.$refs.tabsHeaderComponent.querySelector('.active');

            this.$refs.indicator.style.left = activeTab.offsetLeft + "px";
            this.$refs.indicator.style.width = activeTab.clientWidth + "px";
        }
    }
</script>

<style lang="scss">
    .tabs {
        margin-top: 50px;

        &-header {
            position: relative;
            display: flex;
            padding: 0;
            margin: 0 0 30px 0;
            list-style: none;
            border-bottom: 1px solid #e0d7e8;
            color: #33333c;

            a {
                display: block;
                padding: 15px 15px;
                color: currentColor;
                text-decoration: none;
                transition: all .3s ease-in-out;
            }
        }

        .active {
            color: white;
        }

        .disabled {
            a {
                color: #ababb6;
                cursor: default;
            }
        }

        .indicator {
            /*height: 4px;*/
            height: 100%;
            width: 100px;
            position: absolute;
            z-index: -1;
            /*bottom: -4px;*/
            left: 0;
            background: #7965ec;
            border-radius: 4px;
            transition: all .3s ease-in-out;
        }
    }
</style>