<template>
    <div class="auth">
        <div class="auth__card">
            <div class="auth__left">
                <img src="../../assets/images/diagram.svg" alt="">
                <p class="auth__left-subtitle">Freelance aggregator</p>
                <h2 class="auth__title">Improve your productivity and increase your revenue</h2>
                <p class="auth__left-description">All exchanges in one place</p>
            </div>
            <div class="auth__right">
                <router-view/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({})
    export default class Auth extends Vue {}
</script>

<style lang="scss">
    .error {
        color: #c75f63;
        font-size: 12px;
        font-weight: bold;
    }

    .auth {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: url("../../assets/images/login-bg.jpg");
        background-size: cover;
        background-position: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;

        $padding-top: 45px;

        &__card {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 0 25px;
            max-width: 1000px;
            max-height: 600px;
            border-radius: 15px;
            box-shadow: 0 0 33px -4px #4f4555;
            overflow: hidden;
            color: #4f4555;
        }

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            padding-top: $padding-top;
            padding-right: 40px;
            padding-left: 40px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.45);
            color: #4f4555;

            .auth__title {
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            img {
                width: 50px;
            }

            &-subtitle {
                margin-top: 50px;
                font-size: 15px;
                text-transform: uppercase;
            }

            &-description {
                margin-top: 50px;
                font-size: 15px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: $padding-top;
            padding-left: 10%;
            width: 60%;
            background-color: #fff;
        }

        &__title {
            font-size: 27px;
            margin: 0;
        }

        &__description {
            position: relative;
            margin: 0;
            font-size: 16px;
            color: #9b959f;
        }

        &__form-error {
            @extend .error;

            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
        }
    }

    .input__field {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 350px;
        margin-top: 25px;

        label {
            font-weight: 500;
        }

        input {
            margin-top: 5px;
            padding: 7px 7px 7px 10px;
            border-radius: 6px;
            border: 1px solid #cbc7cd;
            outline: none;
            transition: all .3s;

            &::placeholder {
                color: #cbc7cd;
            }

            &:focus {
                border-color: #c75f63;
            }
        }

        span {
            @extend .error;

            position: absolute;
            bottom: -17px;
            left: 0;
        }
    }

    .input-field__first {
        margin-top: 50px;
    }

    .button_sign-up {
        margin-top: 50px;
        padding: 15px 34px;
        background-color: #c75f63;
        border-radius: 7px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        transition: all .2s;

        &:hover {
            background-color: #d15f63;
        }
    }

    .auth__already-block {
        margin-top: 40px;
    }

    .sign-in__link {
        margin-left: 10px;
        text-decoration: none;
        color: #4f4555;
        font-weight: bold;
    }
</style>