<template>
    <form @submit.prevent="onSubmit" class="login">
        <h2 class="auth__title">Sign In</h2>
        <p class="auth__description">
            Enter your data below
            <span v-if="formError" class="auth__form-error">{{formError}}</span>
        </p>
        <div class="input__field input-field__first">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter your login" v-model="email">
        </div>
        <div class="input__field">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" v-model="password">
        </div>
        <button class="button button_sign-up">Sign in</button>
        <p class="login__description auth__already-block">Need an account? <router-link class="sign-in__link" to="/auth/registration">Sign Un</router-link></p>
    </form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action, Mutation} from 'vuex-class';

    @Component({})
    export default class Login extends Vue {
        @Action('auth/login') userLogin: any;
        @Mutation('user/setUserId') setUserId: any;
        email: string = '';
        password: string = '';
        formError: string = '';

        async onSubmit() {
            const res = await this.userLogin({
                email: this.email,
                password: this.password
            });

            if (res.error) {
                this.formError = res.msg;
            } else {
                this.setUserId(res.id);
                this.$router.push('/');
            }
        }
    }
</script>

<style>
    .login {
        width: 100%;
    }
</style>