<template>
    <form @submit.prevent="onSubmit">
        <h2 class="auth__title">Sign Up to Freelance Helper</h2>
        <p class="auth__description">
            Enter your data below
            <span v-if="formError" class="auth__form-error">{{formError}}</span>
        </p>
        <div class="input__field input-field__first">
            <label for="email">Email</label>
            <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Enter your login"
                    v-model="email.value"
                    @input="email.error = ''">
            <span v-if="email.error">{{email.error}}</span>
        </div>
        <div class="input__field">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    v-model="password.value"
                    @input="password.error = ''">
            <span v-if="password.error">{{password.error}}</span>
        </div>
        <div class="input__field">
            <label for="password">Retype password</label>
            <input
                    type="password"
                    id="retype_password"
                    name="retype_password"
                    placeholder="Enter your password"
                    v-model="retypePassword.value"
                    @input="retypePassword.error = ''">
            <span v-if="retypePassword.error">{{retypePassword.error}}</span>
        </div>
        <button class="button button_sign-up">Sign up</button>
        <p class="login__description auth__already-block">
            Already have an account?
            <router-link class="sign-in__link" to="/auth/login">Sign In</router-link>
        </p>
    </form>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Action} from 'vuex-class';

    @Component({})
    export default class Registration extends Vue {
        email: any = {
            value: '',
            error: ''
        };
        password: any = {
            value: '',
            error: ''
        };
        retypePassword: any = {
            value: '',
            error: ''
        };
        formError: string = '';

        @Action('auth/registration') userRegistration: any;

        async onSubmit() {
            if (this.email.value.length === 0) {this.email.error = 'Your login is empty'; return;}
            if (this.password.value.length < 4) {this.password.error = 'Your password is too short'; return;}
            if (this.password.value !== this.retypePassword.value) {this.retypePassword.error = 'Passwords do not match'; return;}

            try {
                const status = await this.userRegistration({
                    email: this.email.value,
                    password:  this.password.value
                });

                if (status.error) {
                    this.formError = status.msg;
                } else {
                    this.$router.push('/auth/login');
                }
            } catch (e) {
                this.email.value = '';
                this.password.value = '';
                this.password.value = '';
            }
        }
    }
</script>