<template>
    <div class="accordion" ref="accordion">
        <div class="accordion-header">
            <slot name="header"></slot>
        </div>
        <div class="accordion-content" ref="content" :class="{'dropped': dropped}">
            <slot name="content"></slot>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from 'vue-property-decorator';

    @Component({})
    export default class Accordion extends Vue {
        @Prop(Boolean) dropped: boolean;

        mounted() {
            const content = <any>this.$refs.content;
            const accordion = <any>this.$refs.accordion;

            accordion.style.setProperty('--max-height', content.scrollHeight + 'px');
        }
    }
</script>

<style scoped>
    .accordion {
        --max-height: 500px;
        padding-left: 20px;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    .dropped {
        max-height: var(--max-height);
    }
</style>