<template>
    <div>
        Settings
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import Categories from '@/components/categories.component.vue';
    import {Getter, Mutation} from "vuex-class";

    @Component({
        components: {
            Categories
        }
    })
    export default class Settings extends Vue {

    }
</script>

<style lang="scss" scoped>

</style>