<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({})
    export default class App extends Vue {}
</script>

<style lang="scss">
    html {
        font-size: 100%;
        font-family: 'Lato', sans-serif;
        margin: 0;
        padding: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    #app {
        width: 100%;
    }

    .container {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .button {
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
    }

    .no-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>
