<template>
    <div class="container">
        <div class="categories-container">
            <ul v-if="exchanges" class="block no-list">
                <li v-for="e in exchanges" @click="handleExchangeClick(e.exchanges_id)" class="block-item next">
                    {{e.name}}
                </li>
            </ul>
            <ul v-if="categories" class="block no-list">
                <li v-for="c in categories" @click="handleCategoryClick(c.categories_id)" class="block-item next">
                    {{c.name}}
                </li>
            </ul>
            <ul v-if="subcategories" class="block no-list">
                <li v-for="s in subcategories" class="block-item">
                    {{s.name}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import {Getter, Action, Mutation} from 'vuex-class';

    @Component({

    })
    export default class Categories extends Vue {
        @Action('exchanges/getAll') getExchanges: any;
        @Action('categories/getCategories') getCategories: any;
        @Action('categories/getSubcategories') getSubcategories: any;
        @Mutation('categories/setCategories') setCategories;
        @Getter('exchanges/all') exchanges: any;
        @Getter('categories/categories') categories: any;
        @Getter('categories/subcategories') subcategories: any;
        path: any = null;
        exchange_id: any = null;
        rootCategories: any = null;

        async created() {
            await this.getExchanges();
        }

        handleExchangeClick(id) {
            this.exchange_id = id;

            this.getCategories({
                exchanges_id: id,
                parent_id: 'null'
            });
        }

        handleCategoryClick(id) {
            this.getSubcategories({
                exchanges_id: this.exchange_id,
                parent_id: id
            })
        }
    }
</script>

<style lang="scss">
    .categories-container {
        display: flex;
        margin-top: 50px;
    }

    .block {
        padding: 20px;
        border-right: 1px solid #eee;

        &-item {
            padding: 10px;
            margin: 5px 0;
            min-width: 200px;
            border: 1px solid #eee;
            border-radius: 3px;
        }

        .next {
            padding-right: 30px;
            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
                height: .8rem;
                width: .8rem;
                background: url("./assets/next.svg") no-repeat;
            }
        }
    }
</style>