<template>
  <div class="home">
    <header-component></header-component>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HeaderComponent from '@/components/header/header.component.vue';

@Component({
  components: {
      HeaderComponent
  },
})
export default class Home extends Vue {}
</script>
